/* Лого колір тексту #000000 */
/* головний колір тексту #757575 */
/* другорядний коліт тексту #212121 */
/* колір тексту #FFFFFF */
/* колір акценту #2196F3 */
/* головний колір тексту #F5F5F5 */
/* другорядний колір фону #F5F4FA */
/* колір фону футеда */


:root {
    --priamary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --hero-footer-text-color: #FFFFFF;
    --bacground-priamary: #FFFFFF;
    --bacground-color-team-button-list: #F5F4FA;
    --bacground-footer-color: #2F303A;

}

body {
    background-color: var(--bacground-priamary);
    color: var(--priamary-text-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}

.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.list {
    padding: 0;
    margin: 0;
    list-style: none;
}

h1, h2, h3, h4, h5, h6, ul, p {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Header pages*/

.header{
    display: block;
    border-bottom: 1px solid #ECECEC;
}

.header-pages{
    display: flex;
    align-items: center;
}

/* Logo */

.logo {
    display: block;
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
    color: #000000;
    font-family: Raleway, sans-serif;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}

.logo-span {
    color: var(--accent-color);
}

/* Site nav */

.site-nav{
    display: flex;
}

.site-nav .item{
    margin-right: 50px;
}

.site-nav .item:last-child{
    margin-right: 0px;
}


.site-nav .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

.site-nav .link.current {
    color: var(--accent-color)
}

/* Address link */

.address-link{
    display: flex;
    margin-left: auto;
}

.address-link .item{
    margin-right: 50px;
}

.address-link .item:last-child{
    margin-right: 0px;
}

.address-link .link {
    color: var(--priamary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.address-link .link:hover,
.address-link .link:focus {
    color: var(--accent-color);
}

/* Hero */

.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: #2F303A;
    text-align: center;
}

.hero-title {
    margin-bottom: 40px;
    margin-left: 237px;
    margin-right: 237px;

    color: var(--hero-footer-text-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

/* Section */

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.feature {
    padding-top: 94px;
    padding-bottom: 0px;
}

.section-title {
    margin-bottom: 50px;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

/* Features */

.feature-list{
    padding-bottom: 0px;
}

.feature-list {
    display: flex;
    flex-wrap: wrap;
    color: var(--priamary-text-color);
    font-size: 14px;
    line-height: 1.71;
}

.feature-list .item{
    margin-right: 30px;
    width: 270px;
}

.feature-list .item:last-child{
    margin-right: 0px;
}

.feature-list .title {
    margin-bottom: 10px;

    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.feature-list .text {
    margin-top: 0;
    margin-bottom: 0px;
}

/* Works */

.works-list{
    display: flex;
    flex-wrap: wrap;
}

.works .item{
    margin-right: 30px;
    width: 370px;
}

.works .item:last-child{
    margin-right: 0px;
}

/* Team */

.team-title-text{
    padding-top: 30px;
    padding-bottom: 30px;
}

.team .item{
    margin-right: 30px;
    width: 270px;
    text-align: center;
}

.team .item:last-child{
    margin-right: 0px;
}

.section-team {
    background-color: var(--bacground-color-team);
    padding-top: 94px;
    padding-bottom: 94px;
}

.team-title {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--hero-footer-text-color);
}

.team-text {
    margin-top: 10px;
    color: var(--priamary-text-color);
    font-size: 16px;
    line-height: 1.19;
}

/* Footer */
.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--bacground-footer-color);
}

.footer-address{
    margin-top: 20px;
    font-style: normal;
    list-style: none;
    padding: 0px;
}

.footer-address .item{
    margin-bottom: 9px;
}

.footer-address .item:nth-last-child(1){
    margin-bottom: 0px;
}

.footer .link{
    /* padding-top: 9px; */
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;

}

.footer .link:hover, 
.footer .link:focus{
    color: var(--accent-color)
}

.footer-logo {
    color: var(--hero-footer-text-color);
    font-family: Raleway, sans-serif;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}

.footer-link {
    color: var(--hero-footer-text-color);
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
}

/* Button */

.button {
    color: var(--hero-footer-text-color);
    background-color: var(--accent-color);
    cursor: pointer;
}

.button.secondary {
    color: var(--accent-color);
    background-color: var(--hero-footer-text-color);
}

.button.primary {
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 216px;
    border: 0;
    color: var(--hero-footer-text-color);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-weight: 700;
    font-family: inherit;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}

.button-list {
    padding: 6px 22px;
    font-weight: 500;
    font-family: inherit;
    font-size: 16px;
    line-height: 1.63;
    border: 0;
    text-align: center;
    background-color: var(--bacground-color-team-button-list);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    cursor: pointer
}

.button-list:hover,
.button-list:focus {
    color: var(--hero-footer-text-color);
    background-color: var(--accent-color)
    
}

/* Portfolio page styles */

.filter-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
}

.filter-list .item{
    margin-right: 8px;
}

.filter-list .item:last-child{
    margin-right: 0px;
}

.project-list{
    display: flex;
    flex-wrap: wrap;
}

.project-list .item{
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
    background-color: var(--bacground-priamary);

}

.project-list .item:nth-child(3n){
    margin-right: 0px;
}

.project-list .item:nth-last-child(-n + 3){
    margin-bottom: 0px;
}

.project-title-text{
    padding: 20px 24px;
    border-left: 1px solid #ECECEC;
    border-right: 1px solid #ECECEC;
    border-bottom: 1px solid #ECECEC;
}

.portfolio-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
}

.portfolio-text {
    margin-top: 4px;
    color: var(--priamary-text-color);
    font-size: 16px;
    line-height: 1.88;
}